/*------------------------------------------------------------------------------
   Generique
------------------------------------------------------------------------------*/

    html {
box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

.wrapper{
    max-width: 1171px;
    margin: 0 auto;
    }

/*------------------------------------------------------------------------------
   Elements
------------------------------------------------------------------------------*/
h1{
    font: 700 4rem/1.1em "Raleway", sans-serif;
    color: #D300B7;
}

h2{
    font: 700 3rem/1.1em "Raleway", sans-serif;
    color: #fff;
}

h3{
    font: 700 2rem/1.1em "Raleway", sans-serif;
    color: #D300B7;
    margin: 0;
}

a{
    font: 700 1.125rem "Raleway", sans-serif;
}

p{
    font: 400 1.5rem/1.6em "Roboto";
}

.bouton p{
    font: 700 1.125rem/1em "Raleway", sans-serif;
    text-transform: uppercase;
}
/*------------------------------------------------------------------------------
    Components
------------------------------------------------------------------------------*/

/*header*/


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

header a{
    color: #000;
    text-decoration: none;
}

header a:hover{
    color: #D300B7;
    cursor: pointer;
}

header .bouton{
    border-radius: 56px;
    border: 4px solid #D300B7;
    color: #D300B7;
    padding: 10px 30px;
}

header .bouton:hover{
    background-color: #D300B7;
    color: #fff;
    cursor: pointer;
}

/*hero*/

.hero{
    
    width: 100%;
    background: url("../images/hero.png") no-repeat center;
    background-size: cover;
    min-height: 650px;
    display: flex;
    align-items: center;
}

.wrapper .contenu{
    display: flex;
    flex-direction: column;
    gap: 30px;

    background:rgba(0, 0, 0, 80%);
    border-radius: 20px;
    
    width: 50%;
    padding: 40px;
    
    position: relative;
    left: 620px;
    align-items: center;
}

.contenu h1, p{
    margin: 0;
}

.contenu p{
    color: #fff;
}

.contenu .bouton{
    display: inline-block;
    border-radius: 56px;
    border: 4px solid #D300B7;
    padding: 10px 30px;
}

.contenu .bouton p{
    color: #D300B7;
    text-align: center;
}

.contenu .bouton:hover{
    cursor: pointer;
}

/*contenu2*/

.circuit{
    background: #222 no-repeat center;

    padding: 100px 0;
}

.contenu2{
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    gap: 20px;
    align-content: center;
    
    text-align: center;

    max-width: 66%;
}
.circuit p{
    font-size: 1.125rem;
    color: #fff;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 70px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 20px 40px;
    min-height: 569px;
    align-items: center;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.grid p{
    color: #000;
}

.card .bouton{
    border-radius: 56px;
    border: 4px solid #D300B7;
    padding: 10px 30px;
}

.card .bouton p{
    color: #D300B7;
    text-align: center;
}
.card .bouton:hover{
    cursor: pointer;
}


/*footer*/
footer{
    margin: 50px auto;
}
.contenu3{
    display: flex;
    justify-content: center;
    gap: 20px;
}
footer p{
    color: #000;
    text-align: center;
    margin-bottom: 60px;
    font-size: 1.125rem;
}

footer .contenu3 .icone span{
    color: #fff;
    background-color: #D300B7;
    border-radius: 45px;
    font-size: 4rem;
    padding: 15px;
}

footer .contenu3 .icone span:hover{
    background-color: #000;
    cursor: pointer;
}

/*Aide stylistique*/

img.zoom{
    max-height: 80%;
    cursor: pointer;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    padding: 30px;

    z-index: 9999;

    background-color: rgba(0, 0, 0, 0.8);

    display: none;
    justify-content: center;
    align-items: center;
}

.modal.visible{
    display: flex;
}