/*------------------------------------------------------------------------------
   Generique
------------------------------------------------------------------------------*/

    html {
box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

.wrapper{
    max-width: 1171px;
    margin: 0 auto;
    }

/*------------------------------------------------------------------------------
   Elements
------------------------------------------------------------------------------*/
h1{
    font: 700 4rem/1.1em "Raleway", sans-serif;
    color: #D300B7;
}

h2{
    font: 700 3rem/1.1em "Raleway", sans-serif;
    color: #fff;
}

h3{
    font: 700 2rem/1.1em "Raleway", sans-serif;
    color: #D300B7;
    margin: 0;
}

a{
    font: 700 1.125rem "Raleway", sans-serif;
}

p{
    font: 400 1.5rem/1.6em "Roboto";
    color: #fff;
}

/*------------------------------------------------------------------------------
    Components
------------------------------------------------------------------------------*/

/*header*/


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}

header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

header a{
    color: #000;
    text-decoration: none;
}

header a:hover{
    color: #D300B7;
}

/*hero*/

section .hero{
    
    width: 100%;
    background: url("../images/hero.png") no-repeat center;
    background-size: cover;
    min-height: 650px;
    display: flex;
    align-items: center;
}

.wrapper .contenu{
    display: flex;
    flex-direction: column;
    gap: 30px;

    background:rgba(0, 0, 0, 80%);
    border-radius: 20px;
    
    width: 50%;
    padding: 40px;
    
    position: relative;
    left: 620px;
}

.contenu h1, p{
    margin: 0;
}

/*contenu2*/

.circuit{
    background: #222 no-repeat center;

    padding: 100px 0;
}

.contenu2{
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    gap: 20px;
    align-content: center;
    
    text-align: center;

    max-width: 66%;
}
.circuit p{
    font-size: 1.125rem;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 70px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 20px 40px;
    min-height: 569px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.grid p{
    color: #000;
}